.gold-viz-color {
  --primary-color: #373735; 
  --secondary-color: #AC882A;
  --font: "Source Sans 3";
}

.plot-line {
  stroke: var(--secondary-color);
  stroke-width: 3;
  fill: none;
  opacity: .65;
}

.plot-dots {
  stroke: none;
  stroke-with: 1;
  fill: var(--secondary-color);
  r: 4;
}

.header {
  font-family: var(--font);
}

.axis {
  font-family: var(--font);
}